@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.card .image {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  margin-top: -120px;
  margin-inline: auto;
  transition: 0.5s;
}

.card:hover .image {
  transform: scale(1.1);
}
.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card .content {
  margin-top: 20px;
  text-align: center;
  height: 80px;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .content {
  height: 280px;
}


.card .name {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.card .job {
  font-size: 20px;
  font-weight: 500;
  color: #999;
}

.card .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  gap: 15px;
}
.row .col {
  font-size: 16px;
}

.col h2 {
  font-size: 20px;
}

.col p {
  color: #999;
  font-weight: 500;
}

.row .btn {
  width: 100%;
  height: 50px;
  background: #4070f4;
  color: #fff;
  border: 2px solid #4070f4;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.row .btn:nth-child(2) {
  background: none;
  color: #4070f4
}
